<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ruc.mapper.TsbmBatchMapper">
  <resultMap id="BaseResultMap" type="cn.edu.ruc.entity.TsbmBatch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="cfg_id" jdbcType="INTEGER" property="cfgId" />
    <result column="cfg_name" jdbcType="VARCHAR" property="cfgName" />
    <result column="test_status" jdbcType="INTEGER" property="testStatus" />
    <result column="test_type" jdbcType="INTEGER" property="testType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, template_id, cfg_id, test_status, test_type, create_time, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsbm_test_batch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tsbm_test_batch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ruc.entity.TsbmBatch">
    insert into tsbm_test_batch (id, name, template_id, 
      cfg_id, test_status, test_type, 
      create_time, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{templateId}, 
      #{cfgId,jdbcType=INTEGER}, #{testStatus,jdbcType=INTEGER}, #{testType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ruc.entity.TsbmBatch">
    insert into tsbm_test_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="cfgId != null">
        cfg_id,
      </if>
      <if test="testStatus != null">
        test_status,
      </if>
      <if test="testType != null">
        test_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="cfgId != null">
        #{cfgId,jdbcType=INTEGER},
      </if>
      <if test="testStatus != null">
        #{testStatus,jdbcType=INTEGER},
      </if>
      <if test="testType != null">
        #{testType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ruc.entity.TsbmBatch">
    update tsbm_test_batch
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId},
      </if>
      <if test="cfgId != null">
        cfg_id = #{cfgId,jdbcType=INTEGER},
      </if>
      <if test="testStatus != null">
        test_status = #{testStatus,jdbcType=INTEGER},
      </if>
      <if test="testType != null">
        test_type = #{testType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ruc.entity.TsbmBatch">
    update tsbm_test_batch
    set name = #{name,jdbcType=VARCHAR},
      template_id = #{templateId},
      cfg_id = #{cfgId,jdbcType=INTEGER},
      test_status = #{testStatus,jdbcType=INTEGER},
      test_type = #{testType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectList" resultMap="BaseResultMap">
  	   select a.*,b.name template_name,c.name cfg_name 
		from tsbm_test_batch a left join tsbm_templte b on a.template_id =b.id left join tsdb_config c on a.cfg_id=c.id
		order by a.cfg_id desc,b.id asc
  </select>
    <update id="updateTeststatucByCfgIdAndTmpId" >
    update tsbm_test_batch
    set
      test_status = #{testStatus} 
    where  template_id = #{tmpId},
      cfg_id = #{cfgId},
  </update>
</mapper>