<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ruc.mapper.TsdbCfgMapper">
  <resultMap id="BaseResultMap" type="cn.edu.ruc.entity.TsdbCfg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="binding_id" jdbcType="INTEGER" property="bindingId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="db_ip" jdbcType="VARCHAR" property="dbIp" />
    <result column="db_port" jdbcType="VARCHAR" property="dbPort" />
    <result column="db_user" jdbcType="VARCHAR" property="dbUser" />
    <result column="db_passwd" jdbcType="VARCHAR" property="dbPasswd" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, binding_id, name, db_ip, db_port, db_user, db_passwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    tc.*,tb.db_name db_name
    from tsdb_config tc,tsdb_binding tb 
    where tc.binding_id=tb.id and tc.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tsdb_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ruc.entity.TsdbCfg">
    insert into tsdb_config (id, binding_id, name, 
      db_ip, db_port, db_user, 
      db_passwd)
    values (#{id,jdbcType=INTEGER}, #{bindingId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{dbIp,jdbcType=VARCHAR}, #{dbPort,jdbcType=VARCHAR}, #{dbUser,jdbcType=VARCHAR}, 
      #{dbPasswd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ruc.entity.TsdbCfg">
    insert into tsdb_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bindingId != null">
        binding_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dbIp != null">
        db_ip,
      </if>
      <if test="dbPort != null">
        db_port,
      </if>
      <if test="dbUser != null">
        db_user,
      </if>
      <if test="dbPasswd != null">
        db_passwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bindingId != null">
        #{bindingId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dbIp != null">
        #{dbIp,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null">
        #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPasswd != null">
        #{dbPasswd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ruc.entity.TsdbCfg">
    update tsdb_config
    <set>
      <if test="bindingId != null">
        binding_id = #{bindingId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dbIp != null">
        db_ip = #{dbIp,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        db_port = #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null">
        db_user = #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPasswd != null">
        db_passwd = #{dbPasswd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ruc.entity.TsdbCfg">
    update tsdb_config
    set binding_id = #{bindingId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      db_ip = #{dbIp,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=VARCHAR},
      db_user = #{dbUser,jdbcType=VARCHAR},
      db_passwd = #{dbPasswd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
  		select tc.id, binding_id, name, db_ip, db_port, db_user, db_passwd,db_name from tsdb_config tc left join tsdb_binding tb on tb.id=tc.binding_id 
  </select>
</mapper>